.dev-item {
	display: grid;
	grid-gap: 2rem;
	background-color: var(--surface-color);
	box-shadow: 0 0 1rem 0 #00000002;
	border-radius: 0.25rem;
	padding: 2rem 1.5rem;
}

.dev-item img {
	width: 100%;
	border-radius: 999px;
}

.dev-item header {
	display: grid;
	grid-gap: 0.25rem 1rem;
	grid-template-columns: 3rem 1fr;
	grid-template-rows: repeat(2, auto);
}

.dev-item header img {
	grid-row: span 2;
}

.dev-item header h2 {
	margin: 0;
	font-size: 1.25rem;
	align-self: self-end;
}

.dev-item header p {
	grid-column: 2;
	margin: 0;
	font-size: 0.75rem;
}

.dev-item p {
	margin: 0;
}

.dev-item a {
	color: var(--primary-color);
	text-decoration: none;
	font-weight: 500;
}
